html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: #000;
    font-family: Verdana;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    height: 100%;
}
a {
    color: #0078ff;
}
strong {
    font-weight: 700;
}

#container3d {
    width: 76%;
    height: 90%;
    padding: 0px;
    position: absolute;
    margin: 0px 0px 0px 22%;
}

#warningmessage{
   display: none;
   margin: -10px -10px 10px -10px;
   background-color: #ff4040;
   color: #000000;
   font-size: 16px;
   padding: 15px 30px;
   border-bottom: 1px solid black;
   z-index: 50;
   position: relative;
}
#warningmessage a{
    color: #202020 !important;
}

#menu {
	text-align: center;
	padding-top: 10px;
}

#menu div{
    height: 64px;
    width: 64px;
    border: 0px !important;
    margin: 0px 3px;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
}
#menu a:active{
    outline: none;
}
#menu a:focus{
    -moz-outline-style: none;
    outline: none;
}

div.btnReset{     background-image: url("../images/Reset_Normal.png"); }
div.btnHighres{   background-image: url("../images/HighRes_Normal.png"); }
div.btnIntersect{ background-image: url("../images/Intersection_Normal.png"); }
div.btnAxis{      background-image: url("../images/KOS_Normal.png"); }
div.btnBox{       background-image: url("../images/Box_Normal.png"); }
div.btnSave{      background-image: url("../images/Save_Normal.png"); }
div.btnHelp{      background-image: url("../images/Help_Normal.png"); }

div.btnAxisOff{      background-image: url("../images/KOS_Off.png"); }
div.btnBoxOff{       background-image: url("../images/Box_Off.png"); }

div.btnReset:hover{     background-image: url("../images/Reset_Highlight.png"); }
div.btnHighres:hover{   background-image: url("../images/HighRes_Highlight.png"); }
div.btnIntersect:hover{ background-image: url("../images/Intersection_Highlight.png"); }
div.btnAxis:hover{      background-image: url("../images/KOS_Highlight.png"); }
div.btnBox:hover{       background-image: url("../images/Box_Highlight.png"); }
div.btnSave:hover{      background-image: url("../images/Save_Highlight.png"); }
div.btnHelp:hover{      background-image: url("../images/Help_Highlight.png"); }

.intersectionFormula{
	border: 5px solid #808080;
	
	width: 240px;
	border-radius: 5px;
	height: 30px;
	padding: 8px;
	margin: 5px;
	text-align: center;
}
.intersectionFormula:hover{
	background-color: #c6d9f1;
}

.intersectionFormula_selected{
	border: 5px solid #1F497D;
	
	width: 240px;
	border-radius: 5px;
	height: 30px;
	padding: 8px;
	margin: 5px;
	text-align: center;
}

#intersectionC1{
	float: left;
	width: 280px;
}

#intersectionC2{
	margin-left: 320px;
	width: 280px;
	text-align: center;
}

#legend{
	position: absolute;
	margin: 0px 0px 0px 24%;
	width: 72%;
	bottom: 2px;
	padding: 0px 10px 5px 10px;
	color: #ffffff;
	background-color: #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid silver;
	border-bottom: 0px !important;
	font-size: 0.69em;
}
#legend span{
	margin: 0px 15px;
}
#legend img{
	margin-right: 7px;
}
#legend div.deleteButton{
	border: 1px solid silver;
	right: 5px;
	top: 5px;
}
#legend a{
	color: #ffffff !important;
}
#legend a:hover{
	font-weight: bold;
}
